<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>
<h1 style="font-family:verdana;">This is start page</h1>
<p style="font-family:courier;">Привет путник!</p>

<img src="https://cs12.pikabu.ru/post_img/2021/01/07/0/1609967279173834874.gif" alt="Computer man" style="width:200px;height:278px;">

<p>
<a href="http://127.0.0.1:8001/students/"style="background-color:tomato;">Посмотреть список студентов</a>
</p>

<p>
<a href="http://127.0.0.1:8001/admin/"style="background-color:tomato;">Админ Панель -> Дописать новых студентов</a>
</p>

<p>
</p>

<p>
<a href="http://127.0.0.1:8001/products/"style="background-color:green;">Технодемо -> Продукты shop</a>
</p>

</body>
</html>