<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>


<body>
<h1 style="font-family:verdana;">This is start page</h1>
<p style="font-family:courier;">Привет путник!</p>

<img src="https://cs12.pikabu.ru/post_img/2021/01/07/0/1609967279173834874.gif" alt="Computer man" style="width:200px;height:278px;">

<p>
<a href="{% url 'template_home' %}"style="background-color:tomato;">Посмотреть список студентов</a>
</p>

<p>
<a href="{% url 'admin:index' %}"style="background-color:tomato;">Админ Панель -> Дописать новых студентов</a>
</p>

<p>
</p>

<p>
<a href="{% url 'template_products' %}"style="background-color:green;">Технодемо -> Продукты shop</a>
</p>



  <style>
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */
</style>

<p>
<a href="{% url 'template_home' %}">
<button class="button button5">Back</button>
</a>
</p>

</body>
</html>